<div class="wrapper">
    <div class="section section-dark page-header page-header-nosotros" style="z-index: 1;">
        <div class="page-header-image" style="z-index: -1"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2 class="title" style="font-size: 52px; font-weight: 400">Nosotros</h2><br />
                    <p class="description" style="font-size: 22px;">
                        Somos una empresa dedicada a proveer servicios y productos para la industria agrícola y sus procesos secundarios. Aunque somos una empresa joven ya que nos fundamos en 2017, tenemos cimientos sólidos basados en un equipo con mas de 30 años de experiencia
                        en el ramo.
                    </p><br />
                    <!-- <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round">View Demo Icons</a>
                    <a href="https://nucleoapp.com/?ref=1712" class="btn btn-outline-danger btn-round" target="_blank">View
                    All Icons</a> -->
                </div>

                <div class="col-lg-4 col-md-12">

                </div>
            </div>
        </div>
    </div>
    <div class="section ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 title-div">
                    <h2 class="nosotros-items-title">Misión</h2>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="description nosotros-items-description">
                        Impulsar la competitividad y sustentabilidad en el sector agropecuario. Por medio de productos y tecnologías novedosas y eficientes.
                    </p><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 title-div">
                    <h2 class="nosotros-items-title">Visión</h2>
                </div>
                <div class="col-lg-6 col-md-12">
                    <p class="description nosotros-items-description ">
                        Desarrollar y Comercializar Tecnología, Productos para la industria agropecuaria a nivel mundial
                    </p><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 title-div">
                    <h2 class="nosotros-items-title">Valores</h2>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="nosotros-items-description">
                        <li>
                            <p class="description ">Pasión</p>
                        </li>
                        <li>
                            <p class="description ">Excelencia</p>
                        </li>
                        <li>
                            <p class="description ">Espíritu Emprendedor</p>
                        </li>
                        <li>
                            <p class="description ">Responsabilidad</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 title-div">
                    <h2 class="nosotros-items-title">Principios Éticos</h2>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="nosotros-items-description">
                        <li>
                            <p class="description ">Integridad</p>
                        </li>
                        <li>
                            <p class="description ">Transparencia</p>
                        </li>
                        <li>
                            <p class="description ">Respeto</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>