<div class="wrapper">
    <div class="page-header page-header-inicio section-dark" style="background-image: url('assets/img/bg01.jpg')">
        <!-- <div class="filter"></div> -->
        <div class="content-center">
            <div class="container">
                <div class="title-brand">


                    <h1 class="presentation-title">Bienvenido a <br>
                        <img class="presentation-logo" src="../../../assets/img/isotipo.png">
                        <span class="presentation-title-span">INTERNACIONAL AGROPECUARIA</span>
                    </h1>

                </div>

                <h2 class="presentation-subtitle text-center">¿En qué estás interesado?</h2>
            </div>
        </div>
        <div class="container">
            <div class="row presentation-container">
                <div class="col-md-4 presentation-options">
                    <div class="presentation-options-item">
                        <div class="option-item-container">
                            <!-- <img src="../../../assets/img/angular2-logo-white.png" style="width: 40%;"> -->
                            <i style="width: 40%;" class="nc-icon nc-box-2"></i>
                            <h2 class="presentation-options-item-title">Productos</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 presentation-options">
                    <div class="presentation-options-item">
                        <div class="option-item-container">
                            <!-- <img src="../../../assets/img/angular2-logo-white.png" style="width: 40%;"> -->
                            <i style="width: 40%;" class="nc-icon nc-vector"></i>
                            <h2 class="presentation-options-item-title">Plantas de alimentos</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 presentation-options">
                    <div class="presentation-options-item">
                        <div class="option-item-container">
                            <!-- <img src="../../../assets/img/angular2-logo-white.png" style="width: 40%;"> -->
                            <i style="width: 40%;" class="nc-icon nc-world-2"></i>
                            <h2 class="presentation-options-item-title">Alianzas Estrategicas</h2>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <h6 class=" category-absolute ml-auto mr-auto">Desarrollado y diseñado por
            <!-- <h6 class="category category-absolute">Designed and coded by -->

            <a href="https://www.creative-tim.com" style="color:#ed7226; font-weight: 800" target="_blank">
                GsCore Solutions
            </a>
        </h6>
    </div>
</div>
<!-- <app-footer *ngIf="removeFooter()"></app-footer> -->